.head-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 10vh;

}

.head-logo{
    width:auto;
    height: auto;
    transition: max-width 1s, mid-width 1s;
}

.head-logo-expanded{
   min-width: 220px;
   max-width: 390px;
   max-height: 390px;
   min-height: 220px;
}

.head-logo-contracted{
    max-width: 60px;
    min-width: 40px;
    max-height: 60px;
    min-height: 40px;
}

.head-text{
   /* font-family: 'Hachi Maru Pop';*/
    margin:10px;
    transition: font-size 1s;

}

.head-text-expanded{
    font-size: 36px;
}

.head-text-contracted{
    font-size: 12px;
}